[submodule "github-markdown-css"]
	path = src/plugins/github-markdown-css/github-markdown-css-source
	url = https://github.com/sindresorhus/github-markdown-css.git
[submodule "sundown"]
	path = src/plugins/sundown/sundown-source
	url = https://github.com/vmg/sundown.git
[submodule "cmark-gfm"]
	path = src/plugins/cmark-gfm/cmark-gfm-source
	url = https://github.com/github/cmark-gfm.git
